<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Our Team</h1>
        <div class="row">
            <!-- Member 1 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="#" class="card-img-top" alt="Daniyal Ahmed">
                    <div class="card-body">
                        <h5 class="card-title">Daniyal Ahmed</h5>
                        <p class="card-text">K1920422 - Designer</p>
                    </div>
                </div>
            </div>
            <!-- Member 2 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="#" class="card-img-top" alt="Abeera Salik">
                    <div class="card-body">
                        <h5 class="card-title">Abeera Salik</h5>
                        <p class="card-text">K2025560 - Project manager</p>
                    </div>
                </div>
            </div>
            <!-- Member 3 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="#" class="card-img-top" alt="Travis Trzcinski">
                    <div class="card-body">
                        <h5 class="card-title">Travis Trzcinski</h5>
                        <p class="card-text">K2127767 - Backend Developer</p>
                    </div>
                </div>
            </div>
            <!-- Member 4 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="#" class="card-img-top" alt="Nathan Brown-Bennett">
                    <div class="card-body">
                        <h5 class="card-title">Nathan Brown-Bennett</h5>
                        <p class="card-text">K2110813 - Analyst Designer & Programmer</p>
                    </div>
                </div>
            </div>
            <!-- Member 5 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="#" class="card-img-top" alt="Bilal Toumi">
                    <div class="card-body">
                        <h5 class="card-title">Bilal Toumi</h5>
                        <p class="card-text">K1553978 - Analyst Designer</p>
                    </div>
                </div>
            </div>
            <!-- Member 6 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="#" class="card-img-top" alt="Joseph Akiti">
                    <div class="card-body">
                        <h5 class="card-title">Joseph Akiti</h5>
                        <p class="card-text">K2160193 - Security Analyst</p>
                    </div>
                </div>
            </div>
            <!-- Member 7 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="#" class="card-img-top" alt="Jonel Arapi">
                    <div class="card-body">
                        <h5 class="card-title">Jonel Arapi</h5>
                        <p class="card-text">K2160188 - Web-App UI Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>