<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>
<body>
    <div class="navbar">
        <a href="Index.html">Home</a>
        <a href="AboutUs.html">About Us</a>
        <a href="Privacy.html">Privacy</a>
    </div>
    <h1> Privacy Policy </h1>
    <div class="container">
        <h2>Introduction</h2>
        <p> At Cyclomatic Complexity Script Analysis (CCSA), we respect your personal data. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website. We are committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement. </p>
    </div>
    <div class="container">
        <h2>Data Collection</h2>
        <p> We collect information from you when you use our tools. This information may include, but is not limited to, your code files and the results of our analysis. We may also collect information when you voluntarily complete customer surveys, provide feedback and participate in competitions. Website usage information is collected using cookies. </p>
    </div>
    <p> <ul>We collect information from you when you use our tools. This information may include, but is not limited to, your code files and the results of our analysis.</ul> </p>
    <div class="container">
    <h2>Data Use</h2>
    <p> We use the information we collect from you to improve our tools and provide you with a personalized experience. We do not share your personal data with third parties. </p>
    </div>
    <div class="container">
    <h2>Data Retention</h2>
    <p> We retain your data for as long as necessary to provide you with our services. Once this period expires, we delete all of your personal data from our systems. </p>
    </div>
    <div class="container">
    <h2>Your Rights</h2>
    <p> You have the right to access, correct, or delete your personal data. You can exercise these rights by contacting us. </p>
    </div>
    <div class="container">
    <h2>Changes to This Policy</h2>
    <p> We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. </p>
    </div>
    <div class="container">
    <h2>Contact Us</h2>
    <p> If you have any questions about this Privacy Policy, please contact us. </p>
    </div>
</body>
</html>